name: Publish to Azure Artifacts

on:
  workflow_dispatch:
  push:
    tags:
      - '*'
  pull_request:

jobs:
  PublishToAzureArtifacts:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Get Commit hash
        id: get_short_hash
        run: echo "hash=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - name: Get Release version
        run: |
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            VERSION="${{ github.head_ref }}-${{ steps.get_short_hash.outputs.hash }}"
          else
            VERSION="${{ github.ref_name }}"
          fi
          echo "RELEASE_VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'gradle'

      - name: Publish to Azure DevOps Artifacts
        run: |
          ./gradlew publish
        env:
          AZURE_DEVOPS_ARTIFACT_USERNAME: ${{ secrets.AZURE_DEVOPS_ARTIFACT_USERNAME }}
          AZURE_DEVOPS_ARTIFACT_TOKEN: ${{ secrets.AZURE_DEVOPS_ARTIFACT_TOKEN }}
          RELEASE_VERSION: ${{ env.RELEASE_VERSION }}
        shell: bash
